{% extends "base.html" %}

{% block content %}

<h2>Biz bilan bog'laning</h2>

{% if request.query_params.get("muvaffaqiyat") %}
<p class="success">Xabaringiz yuborildi! Tez orada bog'lanamiz.</p>
{% endif %}

<div class="aloqa-wrapper">

    <form method="post" action="/aloqa" class="forma">
        <label>Ismingiz</label>
        <input type="text" name="ism" required placeholder="Ism Familiya">

        <label>Telefon</label>
        <input type="text" name="telefon" required placeholder="+998 ( ) --- -- --">

        <label>Xabar</label>
        <textarea name="xabar" required placeholder="Savolingiz yoki xabaringiz..."></textarea>

        <button type="submit">Yuborish</button>
    </form>

    <div class="aloqa-info">
        <h3>Manzil</h3>
        <p>Qarshi tuman, Yangi Xonabod MFY, Neftchilar ko'chasi, 9-uy</p>
        <h3>Telefon</h3>
        <a href="tel:+99891 644 75 52" class="telefon-link">+998 91 644 75 52</a> </br>
        <a href="tel:+99897 312 19 16" class="telefon-link">+998 97 312 19 16</a>
        <h3>Ish vaqti</h3>
        <p>Dushanba — Shanba: 9:00 — 20:00</p>

        <!-- Xarita -->
    <div style="margin-top: 20px; border-radius: 10px; overflow: hidden;">
        <iframe
            src="https://www.google.com/maps?q=38.85188620457964,65.91801535700793&z=16&output=embed"
            width="100%"
            height="300"
            style="border: none; display: block;"
            allowfullscreen
            loading="lazy">
        </iframe>
    </div>

    <a href="https://www.google.com/maps?q=38.85188620457964,65.91801535700793"
       target="_blank"
       class="btn"
       style="display: inline-block; margin-top: 12px; font-size: 14px; padding: 10px 20px;">
        Google Maps da ochish
    </a>

    </div>

</div>

{% endblock %}
