{% extends "base.html" %}

{% block content %}

<h2>Biz bilan bog'laning</h2>

{% if request.query_params.get("muvaffaqiyat") %}
<p class="success">Xabaringiz yuborildi! Tez orada bog'lanamiz.</p>
{% endif %}

{% if request.query_params.get("xato") %}
<p class="xato">Telefon raqam +998 bilan boshlanishi va 12 ta raqamdan iborat bo'lishi kerak!</p>
{% endif %}

<div class="aloqa-wrapper">

    <form method="post" action="/aloqa" class="forma">
        <label>Ismingiz</label>
        <input type="text" name="ism" required placeholder="Ism Familiya">

        <label>Telefon</label>
        <input type="tel" name="telefon" required
            placeholder="+998901234567"
            pattern="\+998[0-9]{9}"
            title="+998 bilan boshlanuvchi 12 ta raqam kiriting">

        <label>Xabar</label>
        <textarea name="xabar" required placeholder="Savolingiz yoki xabaringiz..."></textarea>

        <button type="submit">Yuborish</button>
    </form>

    <div class="aloqa-info">
        <h3>Manzil</h3>
        <p>O'zbekiston, " " MFY, " " ko'chasi, -uy</p>

        <h3>Telefon</h3>
        <a href="tel:+998901234567" class="telefon-link">+998 90 123 45 67</a><br>
        <a href="tel:+998911234567" class="telefon-link">+998 91 123 45 67</a>

        <h3>Ish vaqti</h3>
        <p>Dushanba — Shanba: 9:00 — 20:00</p>

        <div style="margin-top: 20px; border-radius: 10px; overflow: hidden;">
            <iframe
                src="https://www.google.com/maps?q=38.85188620457964,65.91801535700793&z=16&output=embed"
                width="100%"
                height="300"
                style="border: none; display: block;"
                allowfullscreen
                loading="lazy">
            </iframe>
        </div>

        <a href="https://www.google.com/maps?q=41.22300565103927, 69.71493629003292"
           target="_blank"
           class="btn"
           style="display: inline-block; margin-top: 12px; font-size: 14px; padding: 10px 20px;">
            Google Maps`da ochish
        </a>
    </div>

</div>

{% endblock %}